<!-- Payal and Nyanda -->
<!-- 22 July 2025 -->
<!-- The Projects page showcases Lungisa NPO’s impact through a comprehensive display of its initiatives. It is divided into 
    three categories: completed projects that highlight past successes, current projects that detail ongoing work and upcoming 
    projects that outline future plans. Each project includes a brief description, allowing users to see how Lungisa is actively 
    improving communities. -->

@{
    ViewBag.Title = "Index";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>

    </div>
</body>
</html>
