<!-- Payal and Nyanda -->
<!-- 06 August 2025 -->
<!--  -->

@{
    ViewBag.Title = "Volunteer Sign-up";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <!-- Meta -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <!-- Title -->
    <title>Volunteer Sign-up</title>

    <!-- Links -->
    <link rel="stylesheet" href="~/Content/home.css" />
    <link rel="stylesheet" href="~/Content/Site.css" />

    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet" />
</head>
<body>
    <div>

    </div>
</body>
</html>
